services:
  backend:
    build:
      context: ./backend/Services/AuthServices
    ports:
      - "5000:5000"
    env_file:
      - ./backend/Services/AuthServices/.env.prod
    depends_on:
      - mongo
    networks:
      - mern-network

  frontend:
    build:
      context: ./frontend
    ports:
      - "8000:80"
    depends_on:
      - backend
    networks:
      - mern-network

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge
