name: MERN CD

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # -----------------------------
      # SSH into server and deploy
      # -----------------------------
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SERVER_SSH_KEY }}
          port: 22
          script: |
            echo " Starting deployment..."

            # Go to project directory on server
            cd /home/ubuntu/glamandglow

            # Pull latest code
            git pull origin main

            # Build & restart containers
            docker-compose down
            docker-compose build
            docker-compose up -d

            echo " Deployment completed successfully"
